@charset "utf-8";

html {
  scroll-behavior: smooth;
}
body{
    font-size: 0.9rem;
    font-family:'Courier New', Courier, monospace, 'Zen Kaku Gothic New', sans-serif;
    color:firebrick;
    margin: 0;
    background-color:rgb(179, 212, 179);
    position:relative;
}
a{
  text-decoration: none;
  color:#fff2fd;
}

header{
  font-weight: 700;
  width: 100%;
  z-index: 3;
}
header .hidden{
  font-size: 2px;
}
header .container{
  max-width: 1920px;
  width: 90%;
  margin: 0 auto;
}
header .row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
header .logo{
  font-size: 24px;
}
header ul{
  display: flex;
  list-style:none;
}
header ul li{
  margin-left: 30px;
  font-size: 14px;
  letter-spacing: 1px;
} 
footer {
    width: 100%;
    text-align: center;
    padding: 50px 0;
    margin-top: 40px;
    letter-spacing: 1px;
    background-color:#c5c5c5;
}

@media screen and (max-width: 767px){
  .section1 .container{
      width: 98%;
  }
  .section1 {
      font-size: 27px;
  }
  .section2 .col{
      width: 100%;
      margin-bottom: 20px;
  }
  .section3 .col{
      width: 100%;
      margin-bottom: 30px;
  }
}

/*
select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 2px solid #aaa;
    color: #333;
    font-size: 16px;
    width: 300px;
    background: #fff;
    outline: 0;
    position: relative;
    display: block;
  }
  
  select[multiple] option {
    color: #333;
    padding: 5px 5px 5px 35px;
    position: relative;
  }
  
  select[multiple] option:checked {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(./assets/check.svg) 10px center / 15px auto no-repeat!important;
  }

  .ly_cont{
    display: grid;
    place-content: center;
    padding-block: 100px;
  }

  .bl_selectCont {
    display: none;
  }

  .bl_selectCont.is_active {
    display: revert;
  }*/

@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  --color: #166e67;
  --gap: 0.5rem;
  --radius: 5px;
}
.btn {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: var(--gap);
    padding: 0.6rem;
    cursor: pointer;
    border-radius: var(--radius);
    border: none;
    box-shadow: var(--shadow);
    position: relative;
  }
  .bx {
    font-size: 1.1rem;
  }
  .dropdown {
    position: absolute;
    width: 250px;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    margin-top: 0.3rem;
    background: white;
    transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
    transform: translateY(0.5rem);
    visibility: hidden;
    opacity: 0;
  }
  .dropdown a {
    display: flex;
    align-items: center;
    column-gap: var(--gap);
    padding: 0.8rem 1rem;
    text-decoration: none;
    color: black;
  }
  .dropdown a:hover {
    background-color: var(--color);
    color: white;
  }
  .show {
    transform: translateY(0rem);
    visibility: visible;
    opacity: 1;
  }
  .arrow {
    transform: rotate(180deg);
    transition: 0.2s ease;
  }
  
.section2{
  margin-bottom: 45px;
}
.section2 .container{
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
}
.section2 .row{
  display: grid;
  grid-template: auto / repeat(auto-fit, minmax(16px, 200px));
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  gap: 10px;
  margin-top: 80px;
  background-color: #72685c;
  padding: 36px 24px;
  border-radius: 32px;
}
.section2 .col{
  padding: 4px;
  background-color: #f5b5c0;
  border-radius: 15px;
}
.section2 img{
  width: 160px;
  height: auto;
  padding: 10px;
  border: 9px;
  margin-bottom: 16px;
}
.section2 video{
  width: 160px;
  height: auto;
  padding: 10px;
  border: 9px;
  margin-bottom: 16px;
}
.section2 h2{
  font-size: 24px;
  font-weight: 700;
  margin-bottom:16px;
  text-align: center;
}
.section2 hr{
  border: solid 3px rgb(255, 69, 131);
  width: 146px;
  margin: 0 auto;
  margin-bottom: 28px;
}
.section2 .text{
  font-size: px;
  line-height: 1.5;
}

.section3{
  margin-bottom: 45px;
}
.section3 .container{
  max-width: 1680px;
  width: 90%;
  margin: 0 auto;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
}
.section3 .row{
  display: grid;
  grid-template: auto / repeat(auto-fit, minmax(32px, 300px));
  justify-content: center;
  max-width: 1680px;
  margin: 0 auto;
  gap: 10px;
  margin-top: 80px;
}
.section3 .col{
  padding: 4px;
  background-color: #f3f3e0;
  border-radius: 15px;
}
.section3 img{
  width: 90%;
  height: auto;
  padding: 10px;
  border: 9px;
  margin-bottom: 16px;
}
.section3 video{
  width: 90%;
  height: auto;
  padding: 10px;
  border: 9px;
  margin-bottom: 16px;
}
.section3 h2{
  font-size: 24px;
  font-weight: 700;
  margin-bottom:16px;
}
.section3 hr{
  border: solid 4px rgb(195, 41, 226);
  margin-bottom: 16px;
  width: 96px;
}
.section3 .text{
  font-size: px;
  line-height: 1.5;
}

.top-img{
  display: block;
  margin: 0 auto;
  max-width: 400px;
  height: auto;
  border-radius: 16px;
}
.top-img{
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.top-img:hover {
  transform: scale(1.3);
}

#modal-container {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
#modal-container > div {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
#modal-container > div > img {
  max-width: calc(100vw - 30px);
  max-height: calc(100vh - 30px);
}
img.popup {
  cursor: pointer;
}


#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 14px;
  line-height: 1;
  z-index: 99;
}
#page-top a {
  background: #ab101b;
  text-decoration: none;
  color: #fff;
  width: 60px;
  padding: 28px 5px;
  text-align: center;
  display: block;
  border-radius: 90px;
  opacity: 0.9;
  transition: all .3s ease;
}
#page-top a:hover {
  text-decoration: none;
  opacity: .5;
}




#zoomback {
  position:fixed;
  top:0;
  left: -500;
  width:auto;
  height:100vh;
  background-color:rgba(0,0,0,0.8);
  display:flex;
  justify-content:center;
  align-items:center;
}
#zoomimg {    
  width:50%;
}

.deka {
  animation:deka 0.3s ease-out;
  }
  
  @keyframes deka {
  from {
  transform:scale(0);
  }
}