@charset "utf-8";

html {
  scroll-behavior: smooth;
}
body {
    font-size: 0.9rem;
    font-family:'Courier New', Courier, monospace, 'Zen Kaku Gothic New', sans-serif;
    color:firebrick;
    margin: 0;
    background-color:rgb(255, 242, 213);
    position:relative;
}
footer {
  max-width: 1920px;
  width: 100%;
  height: 120px; 
  text-align: center;
  padding: 50px 0;
  margin-top: 40px;
  background-color:#c5c5c5;
}
iframe{
  border: none;
  width: 100%;
  height: 980px;
  overflow: hidden;
}
.bl_selectToggle_wrapper{
  margin: 0 2rem;
}
a{
  text-decoration: none;
  color:#65bfcf;
}
ul,li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.smalllogo{
    width: 16px !important;
    height: 16px !important;
    bottom: px;
}
.member{
    padding-top:160px;
    padding-left: 32px;
}
.twitter{
    color:rgb(102, 174, 187);
    text-decoration: none;
}
.youtube{
    color:red;
    text-decoration: none;
}
.instagram{
  background: linear-gradient(90deg, #c431e9 0%, #ff3bef 55%, #e2671f 70%, #dbd144 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

header{
  font-weight: 700;
  width: 100%;
  z-index: 3;
  margin: 0.4rem 0;
}
header .hidden{
  font-size: 2px;
}
header .container{
  max-width: 1920px;
  width: 90%;
  margin: 0 auto;
}
header .row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
header .logo{
  font-size: 24px;
}
header ul{
  display: flex;
  list-style:none;
}
header ul li{
  margin-left: 30px;
  font-size: 14px;
  letter-spacing: 1px;
} 

.section0 .container{
  width: 90%;
  height: auto;
  max-width: 1680px;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  z-index: 2;
  position: relative;
}
.section0 .row{
  width: 100%;
}
.section0 col{
  display: flex;
  padding: 8px;
}
.section0 ul{
  list-style:none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}
.section0 li{
  max-width: 100%;
  width:25%;
  padding: 1.8% 0;
  margin-right: 5%;
  margin-bottom: 1%;
  background-color:#c0d8ce;
}
.section0 a{
  color: rgb(10, 151, 10);
}
.section0 h2{
  text-align: center;
  font-size: 36px;
  margin-top: 2em;
}
.section0  hr{
  border: solid 3px rgb(167, 204, 221);
  margin-bottom: 16px;
  width: 40vw;
  margin: 0 auto;
}
.section0 ul li{
  margin-left: 30px;
  font-size: 14px;
  letter-spacing: 1px;
} 
.view-3{
  width: auto;
  height:500px;
  display: flex;
  margin: 0 auto;
}  
.section1 img{
  background-image: url(../img/human/ilust/pottsness/pottsness\ 1.jpg);
  background-position: center;
  background-size: cover;
  background-color: lime;
  max-width: 1680px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.section1 .container{
  width: 90%;
  height: auto;
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
  position: relative;
}

.section2{
  margin-bottom: 45px;
}
.section2 .container{
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
}
.section2 .row{
  display: grid;
  grid-template: auto / repeat(auto-fit, minmax(16px, 200px));
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  gap: 10px;
  margin-top: 80px;
  padding: 36px 24px;
  border-radius: 32px;
}
.section2 .col{
  padding: 4px;
  background-color: #f1e1e4;
  border-radius: 15px;
  display: block;
  text-align: center;
  padding-top:20px;
  padding-bottom:16px;
}
.section2 p{
    margin-top: 20px;
}
.section2 img:not(.smalllogo){
  width: 160px;
  height: auto;
  padding: 10px;
  border: 9px;
  margin-bottom: 16px;
}
.section2 video{
  width: 160px;
  height: auto;
  padding: 10px;
  border: 9px;
  margin-bottom: 16px;
}
.section2 h2{
  font-size: 24px;
  font-weight: 700;
  margin-bottom:16px;
}
.section2 hr{
  border: solid 3px rgb(255, 69, 131);
  margin-bottom: 16px;
  width: 146px;
  margin: 0 auto;
}
.section2 .text{
  font-size: px;
  line-height: 1.5;
}

.section3{
  margin-bottom: 45px;
}
.section3 .container{
  max-width: 1680px;
  width: 90%;
  margin: 0 auto;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
}
.section3 .row{
  display: grid;
  grid-template: auto / repeat(auto-fit, minmax(32px, 300px));
  justify-content: center;
  max-width: 1680px;
  margin: 0 auto;
  gap: 10px;
  margin-top: 80px;
}
.section3 .col{
  padding: 4px;
  background-color: #f3f3e0;
  border-radius: 15px;
}
.section3 img{
  width: 90%;
  height: auto;
  padding: 10px;
  border: 9px;
  margin-bottom: 16px;
}
.section3 video{
  width: 90%;
  height: auto;
  padding: 10px;
  border: 9px;
  margin-bottom: 16px;
}
.section3 h2{
  font-size: 24px;
  font-weight: 700;
  margin-bottom:16px;
}
.section3 hr{
  border: solid 4px rgb(195, 41, 226);
  margin-bottom: 16px;
  width: 96px;
}
.section3 .text{
  font-size: px;
  line-height: 1.5;
}

.section7{
  width: 100%;
}
.section7 .row{
  display: grid;
  grid-template: auto / repeat(auto-fit, minmax(100px, 847px));
  justify-content: center;
  max-width: 1720px;
  margin: 0 auto;
  gap: 10px;
  margin-top: 20px;
}
.section7 .row img{
  width: 95%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 90px;
}
.section7 h2{
  right: 120;
  margin-top: 10px;
  margin-left: 18px;
  font-size: 32px;
}
.section7 hr{
  border: solid 3px rgba(184, 212, 218, 0.699);
  margin-top: 10px;
}
.section7 h4{
  font-size: 18px;
}

@media screen and (max-width: 767px){
  .section1 .container{
      width: 98%;
  }
  .section1 {
      font-size: 27px;
      width: 100%;
      height: auto;
  }
  .section2 .col{
      width: 100%;
      margin-bottom: 20px;
  }
  .section3 .col{
      width: 100%;
      margin-bottom: 30px;
  }
  .slider-3 .slick-slide .slide-img{
    aspect-ratio: 9/19.5;
    max-height: 80vh;
    max-width: 90vw;
  }
  iframe{
    width: 100%;
  }
}

@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);



.section-vmodel{
  width: 100%;
}
.section-vmodel .container{
  width: 90%;
  margin: 0 auto;
}
.section-vmodel .row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-vmodel .col{
  width: 48%;
  height: auto;
  margin-top: 60px;
}
.section-vmodel img{
  width: 100%;
  border: solid;
}
.section-slide{
  margin-top: 10em;
}


.top-img{
  display: block;
  margin: 0 auto;
  max-width: 400px;
  height: auto;
  border-radius: 16px;
}
.top-img{
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.top-img:hover {
  transform: scale(1.3);
}

.icon-img{
  display: block;
  margin: 0 auto;
  max-width: 400px;
  height: auto;
}
.icon-img{
  border-radius: 50%;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.icon-img:hover {
  transform: scale(1.3);
  border-radius: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  --color: #166e67;
  --gap: 0.5rem;
  --radius: 5px;
}
.btn {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: var(--gap);
    padding: 0.6rem;
    cursor: pointer;
    border-radius: var(--radius);
    border: none;
    box-shadow: var(--shadow);
    position: relative;
}
.bx {
    font-size: 1.1rem;
}
.dropdown {
    position: absolute;
    width: 250px;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    margin-top: 0.3rem;
    background: white;
    transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
    transform: translateY(0.5rem);
    visibility: hidden;
    opacity: 0;
}
.dropdown a {
    display: flex;
    align-items: center;
    column-gap: var(--gap);
    padding: 0.8rem 1rem;
    text-decoration: none;
    color: black;
}
.dropdown a:hover {
    background-color: var(--color);
    color: white;
}
.show {
    transform: translateY(0rem);
    visibility: visible;
    opacity: 1;
}
.arrow {
    transform: rotate(180deg);
    transition: 0.2s ease;
}

#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 14px;
  line-height: 1;
  z-index: 99;
}
#page-top a {
  background: #ab101b;
  text-decoration: none;
  color: #fff;
  width: 60px;
  padding: 28px 5px;
  text-align: center;
  display: block;
  border-radius: 90px;
  opacity: 0.9;
  transition: all .3s ease;
}
#page-top a:hover {
  text-decoration: none;
  opacity: .5;
}

