@charset "utf-8";

html {
  scroll-behavior: smooth;
}
body{
    font-size: 0.9rem;
    font-family:'Courier New', Courier, monospace, 'Zen Kaku Gothic New', sans-serif;
    color:firebrick;
    margin: 2rem;
    background-color:rgb(255, 242, 213);
    position:relative;
}
a{
  text-decoration: none;
  color:#65bfcf;
}
ul,li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header{
  font-weight: 700;
  width: 100%;
  z-index: 3;
}
header .hidden{
  font-size: 2px;
}
header .container{
  max-width: 1920px;
  width: 90%;
  margin: 0 auto;
}
header .row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
header .logo{
  font-size: 24px;
}
header ul{
  display: flex;
  list-style:none;
}
header ul li{
  margin-left: 30px;
  font-size: 14px;
  letter-spacing: 1px;
} 

.section0 .container{
  max-width: 1920px;
  width: 90%;
  margin: 0 auto;
}
.section0 .row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.section0 ul{
  display: flex;
  list-style:none;
}
.section0 ul li{
  margin-left: 30px;
  font-size: 14px;
  letter-spacing: 1px;
} 

@media screen and (max-width: 767px){
  .section1 .container{
      width: 98%;
  }
  .section1 {
      font-size: 27px;
  }
  .section2 .col{
      width: 100%;
      margin-bottom: 20px;
  }
  .section3 .col{
      width: 100%;
      margin-bottom: 30px;
  }
}

/*
select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 2px solid #aaa;
    color: #333;
    font-size: 16px;
    width: 300px;
    background: #fff;
    outline: 0;
    position: relative;
    display: block;
  }
  
  select[multiple] option {
    color: #333;
    padding: 5px 5px 5px 35px;
    position: relative;
  }
  
  select[multiple] option:checked {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(./assets/check.svg) 10px center / 15px auto no-repeat!important;
  }

  .ly_cont{
    display: grid;
    place-content: center;
    padding-block: 100px;
  }

  .bl_selectCont {
    display: none;
  }

  .bl_selectCont.is_active {
    display: revert;
  }*/

@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  --color: #166e67;
  --gap: 0.5rem;
  --radius: 5px;
}
.btn {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: var(--gap);
    padding: 0.6rem;
    cursor: pointer;
    border-radius: var(--radius);
    border: none;
    box-shadow: var(--shadow);
    position: relative;
  }
  .bx {
    font-size: 1.1rem;
  }
  .dropdown {
    position: absolute;
    width: 250px;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    margin-top: 0.3rem;
    background: white;
    transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
    transform: translateY(0.5rem);
    visibility: hidden;
    opacity: 0;
  }
  .dropdown a {
    display: flex;
    align-items: center;
    column-gap: var(--gap);
    padding: 0.8rem 1rem;
    text-decoration: none;
    color: black;
  }
  .dropdown a:hover {
    background-color: var(--color);
    color: white;
  }
  .show {
    transform: translateY(0rem);
    visibility: visible;
    opacity: 1;
  }
  .arrow {
    transform: rotate(180deg);
    transition: 0.2s ease;
  }
  
.section1 {
  background-image: url(../img/human/ilust/pottsness/pottsness\ 1.jpg);
  background-position: center;
  background-size: cover;
  max-width: 94vw;
  max-height: 70vh;
  height: 70vh;
  display: flex;
  align-items: center;
}
/*.section1 .filter{
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: translateY(90px);
}*/
.section1 .container{
  width: 90%;
  height: auto;
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
  position: relative;
}
/*.section1 .heading{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #2cb67d;
}
.section1 h1{
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}
.section1 .text{
  font-size: 20px;
  margin-bottom: 40px;
}
.section1 a{
  font-size: 16px;
  font-weight: 700;
  padding: 16px 40px 20px 40px;
  display: inline-block;
  background-color: #7f5af0;
  border-radius: 6px;
  letter-spacing: 2px;
  transition-duration: .4s;
}
.section1 a:hover{
  background-color: rgb(90, 131, 219);
}*/


.section2{
  margin-bottom: 45px;
}
.section2 .container{
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
}
.section2 .row{
  display: grid;
  grid-template: auto / repeat(auto-fit, minmax(16px, 200px));
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  gap: 10px;
  margin-top: 80px;
  padding: 36px 24px;
  border-radius: 32px;
}
.section2 .col{
  padding: 4px;
  background-color: #f1e1e4;
  border-radius: 15px;
  display: block;
  text-align: center;
  padding-top:20px;
  padding-bottom:16px;
}
.section2 p{
    margin-top: 20px;
}
.section2 img:not(.smalllogo){
  width: 160px;
  height: auto;
  padding: 10px;
  border: 9px;
  margin-bottom: 16px;
}
.section2 video{
  width: 160px;
  height: auto;
  padding: 10px;
  border: 9px;
  margin-bottom: 16px;
}
.section2 h2{
  font-size: 24px;
  font-weight: 700;
  margin-bottom:16px;
}
.section2 hr{
  border: solid 3px rgb(255, 69, 131);
  margin-bottom: 16px;
  width: 146px;
  margin: 0 auto;
}
.section2 .text{
  font-size: px;
  line-height: 1.5;
}
.smalllogo{
    width: 16px !important;
    height: 16px !important;
    bottom: px;
}
.member{
    padding-top:160px;
    padding-left: 32px;
}
.twitter{
    color:rgb(102, 174, 187);
    text-decoration: none;
}
.youtube{
    color:red;
    text-decoration: none;
}

.section3{
  margin-bottom: 45px;
}
.section3 .container{
  max-width: 1680px;
  width: 90%;
  margin: 0 auto;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
}
.section3 .row{
  display: grid;
  grid-template: auto / repeat(auto-fit, minmax(32px, 300px));
  justify-content: center;
  max-width: 1680px;
  margin: 0 auto;
  gap: 10px;
  margin-top: 80px;
}
.section3 .col{
  padding: 4px;
  background-color: #f3f3e0;
  border-radius: 15px;
}
.section3 img{
  width: 90%;
  height: auto;
  padding: 10px;
  border: 9px;
  margin-bottom: 16px;
}
.section3 video{
  width: 90%;
  height: auto;
  padding: 10px;
  border: 9px;
  margin-bottom: 16px;
}
.section3 h2{
  font-size: 24px;
  font-weight: 700;
  margin-bottom:16px;
}
.section3 hr{
  border: solid 4px rgb(195, 41, 226);
  margin-bottom: 16px;
  width: 96px;
}
.section3 .text{
  font-size: px;
  line-height: 1.5;
}

.top-img{
  display: block;
  margin: 0 auto;
  max-width: 400px;
  height: auto;
  border-radius: 16px;
}
.top-img{
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.top-img:hover {
  transform: scale(1.3);
}

.icon-img{
  display: block;
  margin: 0 auto;
  max-width: 400px;
  height: auto;
}
.icon-img{
  border-radius: 50%;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.icon-img:hover {
  transform: scale(1.3);
  border-radius: 24px;
}

#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 14px;
  line-height: 1;
  z-index: 99;
}
#page-top a {
  background: #ab101b;
  text-decoration: none;
  color: #fff;
  width: 60px;
  padding: 28px 5px;
  text-align: center;
  display: block;
  border-radius: 90px;
  opacity: 0.9;
  transition: all .3s ease;
}
#page-top a:hover {
  text-decoration: none;
  opacity: .5;
}




img .tate{
  width:30vw;
  max-height: 400px;
}
img .yoko{
  max-width:700px;
  height: auto;
}
.slider-3 .slick-slide {
  margin: 0 60px;
  padding: 60px 0;
  position: relative;
}
.slider-3 .slick-slide .slide-img {
  width: 600px;
  height: 400px;
  transition: all 0.6s ease 0.4s;
  opacity: 0.8;
  box-shadow: 7px 7px 15px -5px #666;
  overflow: hidden;
}/*цик*/
/*.slider-3 .slick-slide .slide-img {
  width: 500px;
  height: 700px;
  transition: all 0.6s ease 0.4s;
  opacity: 0.8;
  box-shadow: 7px 7px 15px -5px #666;
  overflow: hidden;
}/*ч╕ж*/
.slider-3 .slick-slide.slick-current .slide-img {
  transform: scale(1.2);
  opacity: 1;
}
.slider-3 .slick-slide .slide-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-3 .slick-arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 0;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}
.slider-3 .slick-arrow::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #09000d;
  border-width: 3px 3px 0 0;
  position: absolute;
  top: 24px;
  transform: rotate(45deg);
}
.slider-3 .slick-next {
  right: 0;
}
.slider-3 .slick-prev {
  left: 0;
}
.slider-3 .slick-next::before {
  left: 20px;
}
.slider-3 .slick-prev::before {
  border-width: 0 0 3px 3px;
  right: 22px;
}
.dots-3 .slick-dots {
  text-align: center;
}
.dots-3 .slick-dots li {
  display: inline-block;
}
.dots-3 .slick-dots button {
  display: block;
  width: 10px;
  height: 10px;
  margin: 6px;
  font-size: 0;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  background: #bcbcbc;
  border-radius: 50%;
}
.dots-3 .slick-dots .slick-active button {
  background: #0a467d;
}