@charset "utf-8";

body{
    font-size: 32px;
    font-family:'Courier New', Courier, monospace, 'Zen Kaku Gothic New', sans-serif;
    color:rgb(255, 213, 213);
    background-color: rgb(100, 105, 105);
}
a{
    text-decoration: none;
    color:rgb(121, 194, 125);
  }
header{
    font-weight: 700;
    width: 100%;
    z-index: 3;
}
header .hidden{
    font-size: 2px;
}
header .container{
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}
header .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
header .logo{
    font-size: 24px;
}
header ul{
    display: flex;
    list-style:none;
}
header ul li{
    margin-left: 30px;
    font-size: 14px;
    letter-spacing: 1px;
} 
.section1 {
    background-image: url(../img/Substance\ sub/Substance\ graph.jpg);
    background-position: center bottom;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}
.section1 .filter{
    width: 100%;
    height: 100%;
    background-color: #4b4a4a;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translateY(90px);
}
.section1 .container{
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    position: relative;
}
.section1 .heading{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #2cb67d;
}
.section1 h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}
.section1 .text{
    font-size: 20px;
    margin-bottom: 40px;
}
.section1 a{
    font-size: 16px;
    font-weight: 700;
    padding: 16px 40px 20px 40px;
    display: inline-block;
    background-color: #7f5af0;
    border-radius: 6px;
    letter-spacing: 2px;
    transition-duration: .4s;
}
.section1 a:hover{
    background-color: rgb(90, 131, 219);
}
.section2{
    margin-bottom: 45px;
  }
  .section2 .container{
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
  }
  .section2 .row{
    display: grid;
    grid-template: auto / repeat(auto-fit, minmax(16px, 380px));
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
    gap: 10px;
    margin-top: 80px;
  }
  .section2 .col{
    padding: 4px;
    background-color: #212520;
    border-radius: 30px;
  }
.section2 img{
    width: 150px;
    padding: 10px;
    border: 9px;
}
.section2 h2{
    font-size: 32px;
    font-weight: 700;
    margin-bottom:16px;
}
.section2 hr{
    border: solid 4px greenyellow;
    margin-bottom: 16px;
    width: 96px;
}
.section2 .text{
    font-size: px;
    line-height: 1.5;
}