#box{
    width: 200px;
    height: 100px;
    cursor: pointer;
    border-radius: 50px;
    background-color: rgb(245, 228, 205);
    }
    #box.orange{
    background-color: rgb(240, 105, 127);
    }
    #box p{
    line-height: 140px;
    vertical-align: middle;
    font-size: 20px;
    font-weight:bold;
    }



    ul,li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    h1 {
        font-size: 160%;
    }
    p {
        font-size: 100%;
    }
    #font-size li,
    #color li {
        position: relative;
        z-index: 3;
        margin-bottom: 10px;
    }
    #font-size li a,
    #color li a {
        display: block;
    }
    #font-size li,
    #font-size li a,
    #color li,
    #color li a {
        width: 50px;
        height: 33px;
    }
    #font-size li span,
    #color li span {
        position: relative;
        z-index: -1;
    }
    #font-size li.large a {
        background: url("./btn_large.png") no-repeat;
    }
    #font-size li.large a:hover,
    #font-size li.large.current a {
        background: url("./btn_large.png") no-repeat -50px 0;
    }
    #font-size li.middle a {
        background: url("./btn_middle.png") no-repeat;
    }
    #font-size li.middle a:hover,
    #font-size li.middle.current a {
        background: url("./btn_middle.png") no-repeat -50px 0;
    }
    #font-size li.small a {
        background: url("./btn_small.png") no-repeat;
    }
    #font-size li.small a:hover,
    #font-size li.small.current a {
        background: url("./btn_small.png") no-repeat -50px 0;
    }
    #color li a {
        background: url("./btn_color.png") no-repeat;
    }
    #color li a:hover,
    #color li.current a {
        background: url("./btn_color.png") no-repeat -50px 0;
    }
    body.color {
        background: #000;
        background-color: #000;
    }
    body.color h1,
    body.color p {
        color: #FFF !important;
    }

.swipe-content{
    max-width: 960px;
    max-height: 540px;
    width: 60vw;
    height: auto;
}

img{
    max-width:700px;
    height: auto;
}
.slider-3 .slick-slide {
    margin: 0 60px;
    padding: 60px 0;
    position: relative;
  }
  .slider-3 .slick-slide .slide-img {
    width: 600px;
    height: 400px;
    transition: all 0.6s ease 0.4s;
    opacity: 0.8;
    box-shadow: 7px 7px 15px -5px #666;
    overflow: hidden;
  }
  .slider-3 .slick-slide.slick-current .slide-img {
    transform: scale(1.2);
    opacity: 1;
  }
  .slider-3 .slick-slide .slide-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .slider-3 .slick-arrow {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 0;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  }
  .slider-3 .slick-arrow::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #09000d;
    border-width: 3px 3px 0 0;
    position: absolute;
    top: 24px;
    transform: rotate(45deg);
  }
  .slider-3 .slick-next {
    right: 0;
  }
  .slider-3 .slick-prev {
    left: 0;
  }
  .slider-3 .slick-next::before {
    left: 20px;
  }
  .slider-3 .slick-prev::before {
    border-width: 0 0 3px 3px;
    right: 22px;
  }
  .dots-3 .slick-dots {
    text-align: center;
  }
  .dots-3 .slick-dots li {
    display: inline-block;
  }
  .dots-3 .slick-dots button {
    display: block;
    width: 10px;
    height: 10px;
    margin: 6px;
    font-size: 0;
    padding: 0;
    border: 0;
    outline: none;
    cursor: pointer;
    background: #bcbcbc;
    border-radius: 50%;
  }
  .dots-3 .slick-dots .slick-active button {
    background: #0a467d;
  }

.smalllogo{
    width: 16px !important;
    height: 16px !important;
    bottom: px;
}
.member{
    padding-top:160px;
    padding-left: 32px;
}
.twitter{
    color:rgb(102, 174, 187);
    text-decoration: none;
}
.youtube{
    color:red;
    text-decoration: none;
}
.instagram{
  background: linear-gradient(90deg, #c431e9 0%, #ff3bef 55%, #e2671f 70%, #dbd144 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

  p {
    font-size: 24px;
  }